<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hexmap display</title>

</head>
<header>
  <div id="nav_buttons">
    <button type="button" id="add_left">Add Left</button>
    <button type="button" id="add_right">Add Right</button>
    <button type="button" id="add_top">Add Top</button>
    <button type="button" id="add_bottom">Add Bottom</button>
    <button type="button" id="save">Save</button>
    <button type="button" id="load">Load</button>
    <button type="button" id="delete">Delete</button>
    <select id="saved_maps_dropdown">
    </select>
  </div>
  <div id="draw_buttons">
      <label for="terrain_dropdown">Terrain Type</label>
      <select id="terrain_dropdown"></select>
      <label for="settlement_dropdown">Settlement</label>
      <select id="settlement_dropdown"></select>
      <label for="visibility_dropdown">Visibility</label>
      <select id="visibility_dropdown">
          <option value="false">DM Only</option>
          <option value="true">Players + DM</option>
      </select>
  </div>
  <div id="display_buttons">
        <input type="checkbox" id="coordinates_checkbox" name="coordinates_checkbox">
        <label for="coordinates_checkbox">Show Coordinates</label>
        <input type="checkbox" id="terrain_checkbox" name="terrain_checkbox" checked>
        <label for="terrain_checkbox">Show Terrain</label>
        <input type="checkbox" id="settlement_checkbox" checked>
        <label for="settlement_checkbox">Show Settlements</label>
        <input type="checkbox" id="settlement_name_checkbox" checked>
        <label for="settlement_name_checkbox">Show Settlement Names</label>
        <input type="checkbox" id="player_view_checkbox">
        <label for="player_view_checkbox">Player View</label>
        <button type="button" id="hex_info">Hex Info</button>
  </div>
    <form id="encounter_ui">
        <label for="party_level">Party Level:</label>
        <input type="text" id="party_level" value="3" size="10">
        <label for="party_size">Party Size:</label>
        <input type="text" id="party_size" value="4" size="10">
        <label for="difficulty_dropdown">Difficulty</label>
        <select id="difficulty_dropdown">
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
            <option value="deadly">Deadly</option>
            <option value="random">Random</option>
        </select>
        <label for="mob_set_dropdown">Enemy Type</label>
        <select id="mob_set_dropdown"></select>
        <label for="environment_dropdown">Environment</label>
        <select id="environment_dropdown"></select>
        <button type="button" id="encounter_gen">Generate Encounter</button>
    </form>
    <div id="encounter_display">
        <h4>Encounter</h4>
    </div>
</header>
<body>
  <canvas id="hexcanvas" width="600" height="400"></canvas>
  <script src="../static/js/code.jquery.com_jquery-3.7.0.js"></script>
  <script type="module" src="../static/js/hexagons.js"></script>
</body>
</html>